PORT=3000
DB_PATH=./db.sqlite
OBSERVABILITY_LOGS=true

SEED_USER_1_NAME=user0
SEED_USER_1_PASSWORD=changeme

SEED_USER_2_NAME=user1
SEED_USER_2_PASSWORD=changeme

SEED_USER_3_NAME=user2
SEED_USER_3_PASSWORD=changeme

SEED_USER_4_NAME=user3
SEED_USER_4_PASSWORD=changeme

SEED_USER_5_NAME=user4
SEED_USER_5_PASSWORD=changeme

COMFYUI_BASE_URL=http://localhost:8188
COMFYUI_AUTH_TOKEN=
COMFYUI_WORKFLOW_PATH=
COMFYUI_TIMEOUT_MS=600000
COMFYUI_POLL_INTERVAL_MS=1000
